.add_input_content {
  height: 90%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

// #add_content_component {
//   height: 30%;
//   width: 100%;
// }

// #task_content_component {
//   height: 70%;
//   width: 100%;
// }