body {
  font-family: "Playfair Display", serif;
}

h1 {
  margin: 0;
  height: 10%;
}

#__next {
  height: 100%;
  width: 100%;
}

.mainHomeContainer {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.add_input_content {
  height: 90%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.add_content {
  height: 40%;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.MuiFormControl-root.MuiTextField-root.inputWhere,
.MuiFormControl-root.MuiTextField-root.inputHowMuch {
  margin-top: 3%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedSecondary {
  width: 30%;
  margin: 0 auto;
  margin-top: 3%;
}

.task_content {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cost {
  width: 100%;
  height: 15%;
  background-image: linear-gradient(
    to right top,
    #c77db0,
    #a29be8,
    #45bcff,
    #00d8f9,
    #12ebcc
  );
  margin-bottom: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info_about_task {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input_info_task {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.cost_value {
  height: 50%;
  margin: 0;
}

p{
  margin: 0;
}

.button {
  height: 100%;
  width: 40%;
}

.button_delete,
.button_edit {
  height: 100%;
  width: 50%;
}